.bg-card {
  background: linear-gradient(to bottom,
      #55b970,
      #55b970,
      #f1f1f1,
      #f1f1f1);
}

.bg-color {
  background-color: #33a2db;
}

.new {
  font-size: 12px;
  width: 4%;
  text-align: center;
}

.btn-clr {
  background-color: #ff9800;
  color: white;
}

.verified_label {
  font-size: 10px;
}

.verified {
  color: #7288dd;
}

.premium {
  color: #ac8ad1;
}

.daily-rec {
  color: white;
}